:root {
    --background-color: rgb(241, 233, 201);
    --hover-color: rgb(180, 171, 134);
    --plastic-color: blue;
    --player1-color: yellow;
    --player2-color: red;
    --shadow-color: rgba(0, 0, 0, 0.445);
    --stone-size: 8vmin;
    --board-spacing: 1vmin;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.won {
    font-weight: bold;
    font-size: large;
}

.connect_four {
    border: solid var(--board-spacing) var(--plastic-color);
    background-color: var(--plastic-color);
    border-radius: calc(var(--stone-size) / 2 + calc(var(--board-spacing) * 2));
	box-shadow: 0.5vmin 0.5vmin 1vmin 1vmin var(--shadow-color);
}

.connect_four div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.connect_four button {
    height: var(--stone-size);
    min-width: var(--stone-size);
    margin: var(--board-spacing);
    border: none;
    border-radius: calc(var(--stone-size) / 2);
    background-color: var(--background-color);
	box-shadow: 1vmin 1vmin 2vmin var(--shadow-color) inset, 0 0 0.5vmin 0.5vmin var(--shadow-color);
}
.connect_four button[data-state="1"] {
    background-color: var(--player1-color);
}
.connect_four button[data-state="2"] {
    background-color: var(--player2-color);
}
.connect_four button[data-state="0"]:hover {
    background-color: var(--hover-color);
}
